/* Styles based in a resolution of 350x500 */

/* GENERIC Styles */
* {
    font-family: Open-Sans;
}

body {
    min-height: 100vh;
    margin: 0px;
}

p {
    font-size: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

input {
    height: 25px;
    background-color: #d6d6d6;
    border-radius: 10px;
    width: 100%;
}

button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

/* INDEX Page */
.gridPhone {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 120px auto 80px;
    grid-template-areas:
        "topnav topnav topnav topnav"
        "header  header  header  header"
        "content content content content"
        "footer  footer  footer  footer";
}

.header {
    grid-area: topnav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.iconHeader {
    font-size: 30px;
}

.titleTextHeader {
    font-size: 8px;
}

.sectionTitle {
    grid-area: header;
    justify-self: center;
}

.title {
    width: 150px;
}

.imgTitle {
    width: 100%;
}

.sectionContent {
    grid-area: content;
    align-self: center;
}

.contentInColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.contentInRow {
    display: flex;
    justify-content: space-evenly;
}

.boxService {
    width: 85px;
    height: 85px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.iconService {
    font-size: 40px;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    align-self: end;
    justify-content: space-between;
    padding: 15px;
}

.footerText {
    display: flex;
    gap: 25px;
}

.footerIcon {
    display: flex;
    gap: 20px;
}

/* LOG IN Page */

.topNavLogIn {
    grid-area: topnav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: baseline;
    padding: 0 15px;
}

.sectionHeaderLogIn {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

.iconHeaderLogIn {
    font-size: 85px;
}

.imgTitleLogIn {
    width: 40%;
}

.sectionContentLogIn {
    grid-area: content;
    align-self: center;
}

.firstInputLogIn {
    margin-bottom: 30px;

}

.buttonContainerLogIn {
    text-align: center;
    padding: 25px;
}

.footerLogIn {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}