/* Styles based in a resolution of 350x500 */
.gridPhone {
    display: grid;
    gap: 40px;
    margin: 30px;
    grid-template-areas:
        "topnav topnav topnav topnav"
        "header  header  header  header"
        "content content content content"
        "footer  footer  footer  footer";
}

.header {
    grid-area: topnav;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle {
    grid-area: header;
    justify-self: center;
}

.title {
    width: 150px;
}

.imgTitle {
    width: 100%;
}

.sectionContent {
    grid-area: content;
}

.contentInColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.contentInRow {
    display: flex;
    justify-content: space-evenly;
}

.boxService {
    width: 50px;
    height: 50px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
}


.p {
    font-size: 10px;
    font-family: Open-Sans;
}

.icon {
    font-size: 35px;
}